<!-- Modals -->
<!-- Create Feature Modal -->
<div
  id="modal"
  class="fixed inset-0 flex items-center justify-center p-4 hidden"
>
  <div class="bg-white/6 rounded-lg p-6 w-full max-w-lg">
    <form id="featureModalForm">
      <h3 class="text-xl font-bold text-slate-100">Create Feature</h3>
      <input
        id="modalFeatureKey"
        placeholder="Feature key (e.g., new_ui)"
        type="text"
      />
      <input id="modalFeatureDesc" placeholder="Description" type="text" />
      <label class="text-sm text-slate-400 block mt-3">
        Initialize for environment (optional)
      </label>
      <select id="modalEnvSelect">
        <option value="">-- none --</option>
      </select>
      <div class="mt-4 flex items-center gap-3">
        <label class="toggle-switch">
          <input id="modalEnvToggle" type="checkbox" />
          <span class="slider"></span>
        </label>
        <div class="text-sm text-slate-400">
          Activate in selected environment
        </div>
      </div>
      <div id="modalMsg" class="text-sm mt-3"></div>
      <div
        class="flex flex-col-reverse sm:flex-row justify-end gap-2 mt-6 space-y-reverse"
      >
        <button
          id="modalCreate"
          class="bg-cyan-500 text-white px-4 py-2 rounded-md"
          type="submit"
        >
          Create
        </button>
        <button
          id="modalClose"
          class="border border-white/10 text-white px-4 py-2 rounded-md"
          type="button"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Create / Edit Environment Modal -->
<div
  id="envModal"
  class="fixed inset-0 flex items-center justify-center p-4 hidden"
>
  <div class="bg-white/6 rounded-lg p-6 w-full max-w-lg">
    <form id="envModalForm">
      <h3 id="envModalTitle" class="text-xl font-bold text-slate-100">
        Create Environment
      </h3>
      <input
        id="envModalName"
        placeholder="Environment name (e.g., staging)"
        type="text"
      />
      <div id="envModalMsg" class="text-sm mt-3"></div>
      <div
        class="flex flex-col-reverse sm:flex-row justify-end gap-2 mt-6 space-y-reverse"
      >
        <button
          id="modalEnvSave"
          class="bg-cyan-500 text-white px-4 py-2 rounded-md"
          type="submit"
        >
          Save
        </button>
        <button
          id="modalEnvClose"
          class="border border-white/10 text-white px-4 py-2 rounded-md"
          type="button"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
